<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>WELCOME TO DJANGO</h1>
    <h2>This is the first page</h2>
    <p class="abc">
       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum aut praesentium est, earum eaque animi, expedita eius hic nobis, veniam nisi quidem explicabo facere dignissimos.
    </p>
    <div id="xyz">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora doloremque, iste quo, commodi, eaque quibusdam a vel illum sint similique aut dolore vitae ducimus minima?
        </p>
    </div>
            <a href="{% url 'load_second_page' %}">
        click here
    </a>
</body>
<html>